
h2 {
    font-size: 15vw;
    position: relative;
    letter-spacing: 20px;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
   text-shadow: 2px 2px 8px black;

}

.image1 {
    width: 100%;
    height: auto;
}
.image2 {
    max-width:100%;
    height: AUTO;
    width: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.image3 {
    width: 100%;
    height: auto;
}
.image4 {
    width: 100%;
    height: auto;
}
.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

p {
     font-size: 20px;
}